<div class="app-continer">
<app-header></app-header>
<div class="table-holder">
    <div class="table-filter-container">
        <div class="filter-holder">
            <div class="search-by-name">
                <div class="search-by-name-title">Search By Name</div>
                <app-search-bar (globalFilterChange)="onGlobalFilterChange($event)"></app-search-bar>
            </div>
        
            <div class="age-filter-holder">
                <div class="age-filter-title">Filter By Birthyear</div>
                <p-calendar [(ngModel)]="rangeDates" (onClearClick)="clearYears()" [showButtonBar]="true" view="year" dateFormat="yy" selectionMode="range" (onSelect)="filterUsersByBirthyear()" [readonlyInput]="true"></p-calendar>
            </div>
            <div class="col-filter-holder">
                <div class="col-filter-title">Column Selector:</div>
                <div class="col-filter-btns">
                    <p-checkbox [(ngModel)]="columnVisibility['id']" label="ID" [binary]="true" inputId="binary"></p-checkbox>
                    <p-checkbox [(ngModel)]="columnVisibility['name']" label="Name" [binary]="true" inputId="binary"></p-checkbox>
                    <p-checkbox [(ngModel)]="columnVisibility['age']" label="Age" [binary]="true" inputId="binary"></p-checkbox>
                    <p-checkbox [(ngModel)]="columnVisibility['sex']" label="Sex" [binary]="true" inputId="binary"></p-checkbox>
                    <p-checkbox [(ngModel)]="columnVisibility['address']" label="Address" [binary]="true" inputId="binary"></p-checkbox>
                </div>
            </div>
            <div class="sex-filter-holder">
                <div class="sex-filter-title">Filter By Sex</div>
                <p-dropdown class="sex-filter-dd" [options]="sexOptions" (onChange)="filterBySex($event.value)" placeholder="Select Sex"></p-dropdown>
              </div>

              
        </div>
        
        <app-data-table [columnVisibility]="columnVisibility" [users]="users"></app-data-table>
    </div>
</div>
</div>