@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";



* {
    box-sizing: border-box;
}

html {
    background-color: #fafbfc;
}

body {
    margin: 0;
    overflow: overlay;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}